[submodule "WIP/FXcursion_Interface_SHIELD/SystemSW"]
	path = WIP/FXcursion_Interface_SHIELD/SystemSW
	url = https://github.com/RATsynthesizers/SystemSW.git
[submodule "WIP/FXcursion_Audio_SHIELD/SystemSW"]
	path = WIP/FXcursion_Audio_SHIELD/SystemSW
	url = https://github.com/RATsynthesizers/SystemSW.git
[submodule "WIP/VST_test_RAT/SystemSW"]
	path = WIP/FXcursion_Audio_SHIELD/_depsJUCE
	url = https://github.com/juce-framework/JUCE.git