{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "emptyPict.png": {
        "format": "RGB565"
      },
      "emptySelectedPict.png": {
        "format": "RGB565"
      },
      "empty_dashed.png": {
        "format": "RGB565"
      },
      "empty_dashed_selected.png": {
        "format": "RGB565"
      },
      "looper.png": {
        "format": "RGB565"
      },
      "looper_selected.png": {
        "format": "RGB565"
      },
      "rat_logo.png": {
        "format": "RGB565"
      },
      "__generated\\alternate_theme_images_bars_480x272_bottom_action.png": {
        "format": "RGB565"
      }
    },
    "l8_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}